<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/4f5a582d8d.js" crossorigin="zeon"></script>
    <title>Layout</title>
</head>

<body>
    <header>
        <h1>Zafari</h1>
    </header>
    <main>
        <section class="menu">

            <button id="Home">
                <i class="fas fa-home"></i>
                Home</button>
            <button id="WhatzAPP"><i class="fab fa-whatsapp-square"></i>
                WhatzAPP</button>
            <button id="Zpotify">
                <i class="fab fa-spotify"></i> Zpotify</button>
        </section>
        <section class="princi">
            <h2 class="font-prin" id="T-p">Zafary<br>La mejor forma de ver<br> los sitios web.</h2>
            <iframe class="inframe" id="lala" src="../Home/index.html" frameborder="0" ></iframe>
        </section>

    </main>
</body>

<script src="./index.js"></script>

</html>