body {
    margin-left: 32%;
    margin-right: 32%;
    margin-bottom: 0%;
    border-radius: 20%;
    width: 100%;
    height: 100%;
}

main {
    display: block;
    text-align: center;
    padding-top: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.caja-artista {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    padding-left: 6%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

article {
    background: #5AD2AE;
    padding-top: 5px;
    height: 135px;
    width: 135px;
    border-radius: 20px;
    border: 1px solid #469F85;

}

.img-artista {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    grid-gap: 50px;
    grid-column: 50px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;

    color: #2C2C2C;

}